.h2{
  color: #04407c;

}
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  animation: gradientAnimation 7s infinite;
  background: linear-gradient(45deg, #ff6e1d, #7f1dff, #1dff87, #ff54a6);
  background-size: 400%, 400%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



h2 {
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  color: #000201; /* Text color for labels */
  border-radius: 5px;
  font-weight: bolder;
  
  
}

.inp-border {
  padding: 5px;
  margin: 1em 1em;
  border-radius: 50px;
  max-width: 300px;
}

.input {
  text-align: center;
  padding: 15px;
  outline: none;
  border: double 0;
  background: #252525;
  border-radius: 40px;
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: 1.5rem;
}

.a1 {
  background: linear-gradient(330.28deg, #f53ed6 50%, #1dff59 50%, #4dc8f9 20%);
}

.a1 > input {
  color: #caab98;
}

.a1 > input::placeholder {
  color: #f8f6f5;
  opacity: 0.4;
}

.inp-border:focus-within {
  background: linear-gradient(
    330.28deg,
    #2cfff2 0%,
    #1e78ff 30.73%,
    #ff54a6 55.73%,
    #ff6e1d 79.17%,
    #ff3e3e 100%
  );
}

.inp-border:hover {
  background: linear-gradient(
    330.28deg,
    #2cfff2 0%,
    #1e78ff 30.73%,
    #ff54a6 55.73%,
    #ff6e1d 79.17%,
    #ff3e3e 100%
  );
}
.inp-border {
  padding: 5px;
  margin: 1em 1em;
  border-radius: 50px;
  max-width: 300px;
  
}

.input {
  text-align: center;
  padding: 10px; 
  outline: none;
  border: double 0;
  background: #252525;
  border-radius: 20px; 
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: 1rem; }

  .background1 {
    border: 2px solid #333; 
    border-radius: 8px; 
    overflow: hidden; }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  
  
  